SERVER_CONTAINER_PORT="50051"
SERVER_HOST_PORT="50051"

DB_HOST="notification-db"
DB_USER="user"
DB_PASSWORD="password"
DB_NAME="notification_db"
DB_CONTAINER_PORT="5432"
DB_HOST_PORT="5432"
DB_SSL_MODE="disable"